html,
body {
  min-width: 300px;
  color: #000;
  background-color: #ffffff;
  font-family: 'Arial', sans-serif;
  line-height: 1.2;
}

#navbar {
  position: fixed;
  min-width: 300px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 80%;
  border-right: solid;
  border-color: #000;
}

header {
  color: black;
  margin: 5px;
  text-align: center;
  font-size: 1.5em;
  font-weight: lighter;
}

#main-doc header {
  text-align: left;
  margin: 0px;
}

#navbar ul {
  height: 80%;
  padding: 0;
  overflow: auto;
}

#navbar li {
  color: #4e4e4e;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 5px 25px;
  color: #4d4e4e;
  text-decoration: none;
  cursor: pointer;
}

#navbar a:hover{
  background-color: #000;
  color: #fff;

}

#main-doc {
  position: absolute;
  margin-left: 300px;
  padding: 20px;
  margin-bottom: 100px;
}

section article {
  color: #4d4e4e;
  margin: 15px;
  font-size: 0.96em;
}

section li {
  margin: 15px 0px 0px 20px;
}

code {
  color: white;
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2.5;
  background-color: grey;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
}

@media only screen and (max-width: 815px) {
  #navbar ul {
    border: 1px solid;
    height: 205px;
  }

  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 270px;
    border: none;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -5px;
  }

  code {
    margin-left: -15px;
    width: 100%;
    padding: 10px;
    padding-left: 10px;
    padding-right: 40px;
    min-width: 230px;
  }
}
